
Plugins>ImageJ on GPU (CLIJx)>Labeling, "SimpleITK Connected Component Labeling (CLIJx, experimental)", net.haesleinhuepf.clijx.simpleitk.SimpleITKConnectedComponentsLabeling
Plugins>ImageJ on GPU (CLIJx)>Filter, "SimpleITK Gaussian Blur (CLIJx, experimental)", net.haesleinhuepf.clijx.simpleitk.SimpleITKGaussianBlur

