
Plugins>ImageJ on GPU (CLIJx)>Labeling, "SimpleITK Connected Component Labeling (CLIJx, experimental)", net.haesleinhuepf.clijx.simpleitk.SimpleITKConnectedComponentsLabeling
Plugins>ImageJ on GPU (CLIJx)>Filter, "SimpleITK Gaussian Blur (CLIJx, experimental)", net.haesleinhuepf.clijx.simpleitk.SimpleITKGaussianBlur
Plugins>ImageJ on GPU (CLIJx)>Filter, "SimpleITK Median (CLIJx, experimental)", net.haesleinhuepf.clijx.simpleitk.SimpleITKMedian
Plugins>ImageJ on GPU (CLIJx)>Filter, "SimpleITK Convolution (CLIJx, experimental)", net.haesleinhuepf.clijx.simpleitk.SimpleITKConvolution

Plugins>ImageJ on GPU (CLIJx)>Binary, "SimpleITK Danielsson Distance Map (CLIJx, experimental)", net.haesleinhuepf.clijx.simpleitk.SimpleITKDanielssonDistanceMap


